<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Update Teacher</title>
  </head>
  <body>
  <br>
  <div class="container-sm">
    <h1>Profile, Welcome {{user}}</h1>
    <a href="{% url 'logout' %}" class="btn btn-sm btn-outline-dark">Logout User</a>
    <a href="{% url 'staff_profile' %}" class="btn btn-sm btn-outline-danger">Go To profile</a>
  </div>
  <br>
  <div class="container-sm">
    <form action="{% url 'staff_update' %}" method="POST">
      {% csrf_token %}
      <br>
      Name:
      <input name="name" type="text" class="form-control" value="{{staff.name}}">
      <br>
      Job Role:
      <input name="role" type="text" class="form-control" value="{{staff.role}}">
      <br>
      Address:
      <input name="address" type="text" class="form-control" value="{{staff.address}}">
      <br>
      <input type="submit" class="btn btn-sm btn-success" value="UPDATE PROFILE">
    </form>
  </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>